
html {
    background: #EDEDED;
    background-image: linear-gradient(to bottom, rgb(167, 169, 170) 0%, rgb(114, 115, 116)100%);
    background-attachment: fixed;
}

h2 {
    text-align: center;
}

table {
    background-color: rgb(255, 255, 255);
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 250px;
}
td {
    padding: 10px 10px;
    text-align: center;
}
input {
    border: none;
}
input:focus {
    outline: none;
}